.login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    form{
      display: flex;
      flex-direction: column;
      align-items: center;

      input{
        width: 200px;
        height: 30px;
        margin: 10px;
        padding: 5px;
      }

      button{
        width: 200px;
        height: 30px;
        border: transparent;
        background-color: purple;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        padding: 5px;
        margin-top: 10px;
      }

    }
}
