@tailwind base;
@tailwind components;
@tailwind utilities;
.bg_img{
  /* background-image: url("./assets/home4.webp"); */
  background-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0, 0.6),
    rgb(0, 0, 0, 0.8)
  ), url("./assets/home4.webp");
  background-size: 100%;
  width: 100%;
  background-repeat: no-repeat;
}
.error_text {
  font-size: 14px;
  color: red;
  margin-top: 10px;
  display: block;
  text-align: center;
}
.send_text {
  font-size: 16px;
  color: rgb(9, 177, 9);
  margin-top: 10px;
  display: block;
  text-align: center;
}
.furniture_ad_card {
  transition: 0.3s;
}
.furniture_ad_card img {
  transition: 0.3s;
}
.furniture_ad_card:hover {
  box-shadow: 10px 10px 10px #00000055;
}
.furniture_ad_card:hover img {
  transform: scale(1.1);
}
.gallery {
  display: grid;
  gap: 30px;
  grid-template-areas:
    "i1 i1 i2 i2 i2 i2 i2 i3 i3 i3 i3 i3"
    "i4 i4 i4 i4 i4 i5 i5 i5 i5 i5 i6 i6"
    "i7 i7 i8 i8 i8 i8 i8 i9 i9 i9 i9 i9"
    "i10 i10 i10 i10 i10 i11 i11 i11 i11 i11 i12 i12";
}
.gallery img {
  height: 300px;
  transition: 0.3s transform;
}
.gallery img:hover {
  transform: scale(1.16);
}

.i1 {
  grid-area: i1;
  width: 100%;
}
.i2 {
  grid-area: i2;
  width: 100%;
}
.i3 {
  grid-area: i3;
  width: 100%;
}
.i4 {
  grid-area: i4;
  width: 100%;
}
.i5 {
  grid-area: i5;
  width: 100%;
}
.i6 {
  grid-area: i6;
  width: 100%;
}
.i7 {
  grid-area: i7;
  width: 100%;
}
.i8 {
  grid-area: i8;
  width: 100%;
}
.i9 {
  grid-area: i9;
  width: 100%;
}
.i10 {
  grid-area: i10;
  width: 100%;
}
.i11 {
  grid-area: i11;
  width: 100%;
}
.i12 {
  grid-area: i12;
  width: 100%;
}

/* Gallery new */
.order_wrapper {
  display: grid;
  margin-bottom: 150px;
  gap: 30px;
  grid-template-areas:
    "d1 d1 d1 d1 d2 d2 d2 d2 d3 d3 d3 d3"
    "d4 d4 d4 d5 d5 d5 d6 d6 d6 d7 d7 d7"
    "d8 d8 d8 d8 d9 d9 d9 d9 d10 d10 d10 d10"
    "d11 d11 d11 d12 d12 d12 d13 d13 d13 d14 d14 d14"
    "d15 d15 d15 d15 d16 d16 d16 d16 d17 d17 d17 d17";
}
.order_wrapper img {
  height: 320px;
  transition: 0.3s transform;
}
.order_wrapper img:hover {
  transform: scale(1.16);
}

.d1 {
  grid-area: d1;
  width: 100%;
}
.d2 {
  grid-area: d2;
  width: 100%;
}
.d3 {
  grid-area: d3;
  width: 100%;
}
.d4 {
  grid-area: d4;
  width: 100%;
}
.d5 {
  grid-area: d5;
  width: 100%;
}
.d6 {
  grid-area: d6;
  width: 100%;
}
.d7 {
  grid-area: d7;
  width: 100%;
}
.d8 {
  grid-area: d8;
  width: 100%;
}
.d9 {
  grid-area: d9;
  width: 100%;
}
.d10 {
  grid-area: d10;
  width: 100%;
}
.d11 {
  grid-area: d11;
  width: 100%;
}
.d12 {
  grid-area: d12;
  width: 100%;
}
.d13 {
  grid-area: d13;
  width: 100%;
}
.d14 {
  grid-area: d14;
  width: 100%;
}
.d15 {
  grid-area: d15;
  width: 100%;
}
.d16 {
  grid-area: d16;
  width: 100%;
}
.d17 {
  grid-area: d17;
  width: 100%;
}
/* Carousel styles */

#carouselHome .carousel-control-prev-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: 70% 70%;
  background-color: transparent;
  border: 1px solid #fff;
}
#carouselHome .carousel-control-next-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: 70% 70%;
  background-color: transparent;
  border: 1px solid #fff;
}
#carouselHome .carousel-control-prev,
#carouselHome .carousel-control-next {
  width: 80px;
}
.carousel-indicators button {
  background-color: #333 !important;
}
.container{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.home {
  display: flex;
}
.home .homeContainer {
  flex: 6;
}
.home .listContainer {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  margin: 20px;
}
.home .listTitle {
  font-weight: 500;
  color: gray;
  margin-bottom: 15px;
}

.wrap .wrap_item {
  border: 2px solid #aaa;
  padding: 5px 20px;
  margin-bottom: 5px;
  border-radius: 15px 15px 15px 0;
  display: flex;
  gap: 15px;
}

.common_title {
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.furniture_wrap {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 35px;
  padding-bottom: 150px;
}
.furniture_item {
  width: 100%;
  border: 0.5px solid #eee;
  border-radius: 20px;
  transition: 0.3s;
}
.furniture_item:hover {
  border: 0.5px solid #bbb;
  box-shadow: 15px 15px 25px #aaaaaa4e;
}
.furniture_img {
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 20px 20px 20px 0;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.furniture_img img {
  object-fit: cover;
}
a.active{
  font-weight: bold;
}
.furniture_content {
  padding: 10px;
}
.furniture_content h3 {
  font-size: 20px;
  font-weight: 600;
  padding: 5px 0;
}

.furniture_content p span {
  font-weight: 600;
}
.furniture_content p {
  color: #444;
}
.map_wrap{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 30px;
}
.map_wrap svg{
  width: 50px;
}
.map_item{
  display: flex;
  align-items: center;
  gap: 30px;
}
.map_item p{
  font-size: 17px;
  font-weight: 500;
  color: #444;
}
.c_border{
  border: 1px solid;
  padding: 0.45rem 0.805rem;
  border-radius: 0.375rem;
}
@media (max-width: 800px) {
  .map_wrap svg{
    width: 45px;
  }
  .map_wrap{
    padding: 0 50px;
  }
}

@media (max-width: 1024px) {
  .map_wrap{
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
  }

}
@media (max-width: 1200px) {
  .furniture_wrap {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (max-width: 800px) {
  .furniture_wrap {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 500px) {
  .furniture_wrap {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
